<!-- <section id="about"> -->
<section class="bg-dark" id="about">
<!-- <section class="bg-primary" id="about"> -->
    <div class="container">
        <div class="row text-center">
                <h2 class="section-heading"><b> About Me </b></h2>
                <hr class="light">
                    <h4 class="text-faded">I am currently a Ph.D. Candidate in Applied Statistics at the
                        <a href="https://www.uoguelph.ca">University of Guelph</a>
                        <!--
                        <u><a href="https://www.uoguelph.ca" style="color: rgb(255,255,255)">University of Guelph</a></u>.
                        -->
                    </h4>
                <br>
                <a href="#page-top" class="btn btn-default btn-xl page-scroll">Back to top</a>
                <!-- <a href="#" class="btn btn-primary btn-xl page-scroll">Back to top</a> -->
        </div>
    </div>
</section>
