<section class="bg-dark" id="conferences">
    <div class="container">
        <div class="row text-center">
                <h2 class="section-heading"><b>Conferences Presentations</b></h2>
                  <hr class="light">
                <h4 class="text-faded">For a complete list of presentations, posters, and thematic programs etc. please see my
                    <u><a class="page-scroll" href="#cv">curriculum vitae</a></u>.
                </h4>
                <br>
        </div>
    </div>
    
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h3 class="section-heading"><b>Presentations</b></h3>
          </div>
      </div>
  </div>

  <br>

  <div class="container-fluid">
      <div class="row no-gutter">
          
                    <div class="col-lg-4 col-sm-6 text-center">
              <a href="#" class="portfolio-box">
                  <img src="img/pictures/circles.jpg" class="img-responsive wow zoomIn" 
                                              data-wow-delay="0.4s" data-wow-duration="0.25s">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-name">
                              An exponential model for comets
                          </div>
                          <div class="text-faded">
                              Southern Ontario Graguate Matheamtics and Statistics Conference, 2019
                          </div>
                      </div>
                  </div>
              </a>
              <h4>An exponential model for comets</h4>
          </div>

          
          <div class="col-lg-4 col-sm-6 text-center">
              <a href="#" class="portfolio-box">
                  <img src="img/pictures/trees.jpg" class="img-responsive wow zoomIn" 
                                              data-wow-delay="0.0s" data-wow-duration="0.25s">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-name">
                              BOLD.R for High Pperformance Computing (COMING SOON)
                          </div>
                          <div class="text-faded">
                              Southern Ontario Graguate Matheamtics and Statistics Conference, 2019
                          </div>
                      </div>
                  </div>
              </a>
              <h4>BOLD.R for High Pperformance Computing</sup></h4>
          </div>

      
         <div class="col-lg-4 col-sm-6 text-center">
              <a href="http://www.boldsystems.org/BOLD.R" class="portfolio-box">
                  <img src="img/pictures/trees.jpg" class="img-responsive wow zoomIn" 
                                              data-wow-delay="0.0s" data-wow-duration="0.25s">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-name">
                              Connections between Beran's Exponential Model and the FB-5 Distribution on S<sup>d-1</sup>
                          </div>
                          <div class="text-faded">
                              Southern Ontario Graguate Matheamtics and Statistics Conference, 2018
                          </div>
                      </div>
                  </div>
              </a>
              <h4>Connections between Beran's Exponential Model and the FB-5 Distribution on S<sup>d-1</sup></h4>
          </div>
      
      </div>
  </div>

  
  
  
  
  
  
  <br>
  <br>
  
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h3 class="section-heading"><b>Posters</b></h3>
          </div>
      </div>
  </div>

  <br>
  
  
    <div class="container-fluid">
      <div class="row no-gutter">

          <div class="col-lg-4 col-sm-6 text-center">
              <a href="http://www.boldsystems.org/BOLD.R" class="portfolio-box">
                  <img src="img/pictures/trees.jpg" class="img-responsive wow zoomIn" 
                                              data-wow-delay="0.60s" data-wow-duration="0.25s">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-name">
                              BOLD.R
                          </div>
                          <div class="text-faded">
                              An R library to interface with the Barcode of Life Database System (BOLD) directly through R.
                          </div>
                      </div>
                  </div>
              </a>
              <h4>BOLD.R</h4>
          </div>

          <div class="col-lg-4 col-sm-6 text-center">
              <a href="https://github.com/nishanmudalige/s.harmonic" class="portfolio-box">
                  <img src="img/pictures/harp.jpg" class="img-responsive wow zoomIn" 
                                              data-wow-delay="0.80s" data-wow-duration="0.25s">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-name">
                              s.harmonic
                          </div>
                          <div class="text-faded">
                              An R library which evaluates spherical harmonics and expresses associated Legendre polynomials.
                          </div>
                      </div>
                  </div>
              </a>
              <h4>s.harmonic</h4>
          </div>

          <div class="col-lg-4 col-sm-6 text-center">
              <a href="https://github.com/nishanmudalige/watson.kernel" class="portfolio-box">
                  <img src="img/pictures/circles.jpg" class="img-responsive wow zoomIn" 
                                              data-wow-delay="1.0s" data-wow-duration="0.25s">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-name">
                              watson.kernel
                          </div>
                          <div class="text-faded">
                              The Watson kernel density estimator for directional data over <i>S<sup>(p-1)</sup></i>
                          </div>
                      </div>
                  </div>
              </a>
              <h4>watson.kernel</h4>
          </div>
      </div>
  </div>

  <br>
  <br>
  
  
  
  
  


  <center>
    <a href="#page-top" class="btn btn-default btn-xl page-scroll">Back To Top</a>
  </center>
        
</section>
