<section id="contactme" class="no-padding">
    <div class="container" align="center">
        <div class="row" align="left">
            <center>
            <br>
            <br>
            <br>
            <h2 class="section-heading"><b>Contact Me</b></h2>
            <hr class="primary">
            </center>

            
            <!-- 
            <div class="container contact" align="left">
                <div class="row contact" align="left">
            -->
            
            <!-- Google Map -->
            
            <div class="container">
                <div class="row">
                    
                    <div style="padding: 0px 50px 0px 0px;" class="col-lg-7 contact">
                        <div style="padding: 0px 50px 0px 0px;" class="service-box contact">
                        <head>
                            
                            <style>
                              /* Set the size of the div element that contains the map */
                              #map {
                                height: 425px;  /* The height is 400 pixels */
                                width: 137%;    /* The width is the width of the web page */
                               }
                            </style>
                            
                            </head>
                            
                            <body>
                            <center>
                                
                            <div id="map"></div>
                            <script>
                        // Initialize and add the map
                        function initMap() {
                          // The location of MacNaughton
                          var macn = {lat: 43.530706, lng: -80.227486};
                          // The map, centered at MacNaughton
                          var map = new google.maps.Map(
                              document.getElementById('map'), {zoom: 15.90, center: macn});
                          // The marker, positioned at MacNaughton
                          var marker = new google.maps.Marker({position: macn, map: map});
                        }
                            </script>
                            <script async defer src="https://maps.googleapis.com/maps/api/js?key=API_KEY_GOES_HERE&callback=initMap">
                            <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWfDD6VIEZe7f-BZKlxo8LwKRbEjZ4MRU&callback=initMap"> -->
                            </script>
                                
                           </center>
                           </body>
                            
                            
                        </div>
                    </div>
                    
                    <div class="col-lg-5 text-left contact">
                        <div class="service-box">
                            <h3>Office Address</h3>
                            <br>
                            <h4> MacNaughton Building, Room 315 </h4>
                            <h4> Department of Mathematics and Statistics </h4>
                            <h4> University of Guelph </h4>
                            <h4> 50 Stone Road East </h4>
                            <h4> Guelph, ON, N1G 2W1 </h4>
                            <h4> Canada </h4>
                            <br>
                            <br>
                            <h3>Email</h3>
                            <br>
                            <h4> mudalign [at] uoguelph [dot] ca </h4>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        <br>
        <hr class="primary">
      
      <div class="container">
        <div class="row">
          
            
           <!-- icons

           <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://stackexchange.com/users/11527422/nm">
                        <i class="fa fa-stack-exchange fa-3x wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <p>{{}}</p>
                    </a>
                </div>        
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://stackoverflow.com/users/8447442/nm">
                        <i class="fa fa-stack-overflow fa-3x wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="mailto:mudalign@uoguelph.ca">
                        <i class="fa fa-envelope-o fa-3x wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    </a>
               </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://github.com/nishanmudalige/">
                        <i class="fa fa-github fa-3x wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    </a>
                </div>
            </div>
        </div>
        -->

          
      <!-- SVG images  -->
            
      <div class="col-lg-3 text-center">
        <div class="service-box">
          <div style="text-align:center;" class="test wow bounceIn text-primary">
            <a href="https://stackoverflow.com/users/8447442/nm">
              <svg viewBox="0 0 120 120" preserveAspectRatio="xMidYMid" width="6em" height="6em" class="myzoom">
                <style>.st0{fill:#bcbbbb}.st1{fill:#f48023}
                </style>
                <path class="st0" d="M84.4 93.8V70.6h7.7v30.9H22.6V70.6h7.7v23.2z"/>
                <path class="st1" d="M38.8 68.4l37.8 7.9 1.6-7.6-37.8-7.9-1.6 7.6zm5-18l35 16.3 3.2-7-35-16.4-3.2 7.1zm9.7-17.2l29.7 24.7 4.9-5.9-29.7-24.7-4.9 5.9zm19.2-18.3l-6.2 4.6 23 31 6.2-4.6-23-31zM38 86h38.6v-7.7H38V86z"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
        
      </div>
    </div>
        
    <br>
    <br>

    <center>
      <a href="#page-top" class="btn btn-primary btn-xl page-scroll">Back to top</a>
    </center>

    <br>
    <br>
    <br>
    <br>
        
</section>
