<section id="contact" class="no-padding">
    <div class="container" align="center">
        <div class="row" align="left">
            <center>
            <br>
            <br>
            <br>
            <h2 class="section-heading"><b>Contact</b></h2>
            <hr class="primary">
            </center>

            
            <!-- 
            <div class="container contact" align="left">
                <div class="row contact" align="left">
            -->
            <div class="container text-left" align="left">
                <div class="row text-left" align="left">
                    <div class="col-lg-7 text-left contact">
                        <div class="service-box contact text-left" align="left">       
                        <head>
                            
                            <style>
                              /* Set the size of the div element that contains the map */
                              #map {
                                height: 430px;  /* The height is 400 pixels */
                                width: 110%;    /* The width is the width of the web page */
                               }
                            </style>
                            
                            </head>
                            
                            <body>
                            <center>
                                
                            <div id="map"></div>
                            <script>
                        // Initialize and add the map
                        function initMap() {
                          // The location of MacNaughton
                          var macn = {lat: 43.530706, lng: -80.227486};
                          // The map, centered at MacNaughton
                          var map = new google.maps.Map(
                              document.getElementById('map'), {zoom: 15.90, center: macn});
                          // The marker, positioned at MacNaughton
                          var marker = new google.maps.Marker({position: macn, map: map});
                        }
                            </script>
                            <script async defer src="https://maps.googleapis.com/maps/api/js?key=API_KEY_GOES_HERE&callback=initMap">
                            <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWfDD6VIEZe7f-BZKlxo8LwKRbEjZ4MRU&callback=initMap"> -->
                            </script>
                                
                           </center>
                           </body>
                            
                            
                        </div>
                        </div>
                        <div class="col-lg-5 text-left contact">
                        <div class="service-box">
                            <h3>Office Address</h3>
                            <br>
                            <h4> MacNaughton Building, Room 315 </h4>
                            <h4> Department of Mathematics and Statistics </h4>
                            <h4> University of Guelph </h4>
                            <h4> 50 Stone Road East </h4>
                            <h4> Guelph, ON, N1G 2W1 </h4>
                            <h4> Canada </h4>
                            <br>
                            <br>
                            <h3>Email</h3>
                            <br>
                            <h4> mudalign [at] uoguelph [dot] ca </h4>
                        </div>
                    </div>
                </div>
            </div>
            
        <br>
        <hr class="primary">

       <div class="col-lg-3 col-md-6 text-center">
            <a href="https://stackexchange.com/users/11527422/nm">
                <i class="fa fa-stack-exchange fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{}}</p>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <a href="https://stackoverflow.com/users/8447442/nm">
                <i class="fa fa-stack-overflow fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{}}</p>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <a href="mailto:mudalign@uoguelph.ca">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{}}</p>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <a href="https://github.com/nishanmudalige/">
                <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{}}</p>
            </a>
        </div>            
    </div>
        
    <br>
    <br>

    <center>
      <a href="#page-top" class="btn btn-primary btn-xl page-scroll">Back to top</a>
    </center>

    <br>
    <br>

</section>
