<section id="education">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Education</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
        <div, id="inner">
            Ph.D in Applied Statistics
            <span style="float:right;">Sep 2016 - Present</span> <br>
            University of Guelph
            <span style="float:right;">Guelph, Ontario, Canada</span> <br>
        </div>
    <div class="col-lg-12 text-center">
        <br>
        <!-- <a href="#" class="btn btn-default btn-xl">Back to top</a> -->
        <a href="#" class="btn btn-primary btn-xl page-scroll">Back to top</a>
    </div>
</section>

<!-- <section id="education">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Education</h2>
                <hr class="light">
            </div>
        </div>
    </div>
    <div class="col-lg-8 text-left">
    <p class="text-faded" style="color: rgb(0,0,0); text-align:left;"> Ph.D. in Applied Statistics
    <span style="float:right;"> Sep 2016 - Present </span>
    </p>    
    </div>
    <center>
    <a href="#" class="btn btn-default btn-xl">Back to top</a>
    </center>
</section> -->
