<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Nishan Mudalige</a>
        </div>

        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mr-auto navbar-right">
              <li class="nav-item active">
                <a class="page-scroll" href="#page-top">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#about">About</a>  
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#profile">Profile</a>  
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#education">Education</a>  
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#awards">Awards</a>  
              </li>
              <!-- Publications -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
                   aria-haspopup="true" aria-expanded="true">
                  Publications
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item page-scroll" style="padding-left:0.5em" href="#publications"><b>Publications</b></a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item page-scroll" style="padding-left:1.5em" href="#refereed">Refereed</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item page-scroll" style="padding-left:1.5em" href="#textbooks">Textbooks</a>
                </div>
              </li>
              <!-- Conferences -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
                   aria-haspopup="true" aria-expanded="true" >
                  Conferences
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item page-scroll" style="padding-left:0.5em" href="#conferences"><b>Conferences</b></a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item page-scroll" style="padding-left:1.5em" href="#presentations">Presentations</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item page-scroll" style="padding-left:1.5em" href="#posters">Posters</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#coding">Coding</a>  
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#software">Software</a>  
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#experience">Experience</a>  
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#cv">CV</a>  
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#contact">Contact</a>  
              </li>
              <!--
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
              -->
            </ul>
          </div>
        </nav>
        
        
        <!--
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#page-top">Home</a>
                </li>
                <li>                
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#profile">Profile</a>
                </li>                
                <li>
                    <a class="page-scroll" href="#education">Education</a>
                </li>
                <li>
                    <a class="page-scroll" href="#awards">Awards</a>
                </li>
                <li>
                    <a class="page-scroll" href="#publications">Publications</a>
                </li>
                <li>
                    <a class="page-scroll" href="#conferences">Conferences</a>
                </li>
                <li>
                    <a class="page-scroll" href="#coding">Coding</a>
                </li>
                <li>
                    <a class="page-scroll" href="#software">Software</a>
                </li>
                <li>
                    <a class="page-scroll" href="#work">Experience</a>
                </li>
                <li>
                    <a class="page-scroll" href="#cv">CV</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contactme">Contact</a>
                </li>
            </ul>
        </div>
        -->
        
    </div>
</nav>
