<section class="bg-primary" id="publications">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Publications</h2>
                <hr class="light">
                <!-- <hr class="primary"> -->
            </div>
        </div>
    </div>

    <!-- New section -->
    <!-- New section -->
    <!-- New section -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>J.A. Holbrook, <b>N.C. Mudalige</b>, M. Newman, R. Pereira (2015)</h4>
                <h4><i><a href="http://www.sciencedirect.com/science/article/pii/S0024379515000166" 
                          style="color: rgb(255,255,255)">
                        Bounds on polygons of higher rank numerical ranges </a></i></h4>
                <h4 class="text-faded">Linear Algebra and its Applications: Volume 474, 1 June 2015, pages 230-242</h4>
            </div>
        </div>
    </div>

    
    <div class="container">
        <div class="row">     
            <div class="col-lg-12">
                <h4>J.A. Holbrook, <b>N.C. Mudalige</b>, R. Pereira (2013)</h4>
                <h4><i><a href="https://arxiv.org/abs/1203.3908" 
                            style="color: rgb(255,255,255)">
                        Normal matrix compressions </a></i></h4>
                <h4 class="text-faded">Operators and Matrices (2013): Volume 7, Number 4, pages 849-864</h4>
            </div>
        </div>
    </div>

    
    <div class="container">
        <div class="row">            
            <div class="col-lg-12">
                <h4>H. Massam, <b>N.C. Mudalige</b> (2012)</h4>
                <h4><i><a href="https://qbs.kmu.ac.kr:442/!Board/download.php?wd=4&bb_code=1047" 
                            style="color: rgb(255,255,255)">
                        A comment to a microbiology primer for pyrosequencing (P. Kim, M. Costa et al.) </a></i></h4>
                <h4 class="text-faded">Quantitative Bio-Science (2012): Vol.31, No.2 A, pages 87-89.</h4>
            </div>
        </div>
    </div>

    
    <div class="container">
        <div class="row">            
            <div class="col-lg-12">
                <h4>Kim, P., <b>N.C. Mudalige</b>, Smith, E. (2016)</h4>
                <h4><i><a href="" 
                            style="color: rgb(255,255,255)">
                        Introduction to Statistics: Customized Text for STAT*2060 </a></i></h4>
                <h4 class="text-faded">Quantitative Bio-Science (2012): Vol.31, No.2 A, pages 87-89.</h4>
            </div>
        </div>
    </div>

    
    <div class="col-lg-12 text-center">
    <br>
    <br>
    <!-- <a href="#" class="btn btn-primary btn-xl page-scroll">Back to top</a> -->
    <!-- <a href="#" class="btn btn-default btn-xl">Back to top</a> -->
    <a href="#page-top" class="btn btn-default btn-xl page-scroll">Back to top</a>
    </div>
    <br>
    <br>
</section>
