<section class="bg-primary" id="publications">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Publications</h2>
                <hr class="light">
                <!-- <hr class="primary"> -->
            </div>
        </div>
    </div>
  
  
  
<div class="container">
  <!-- <div class="row"> -->
    <div class="col-lg-12 text-left">
      <div class="service-box">
        <h4>J.A. Holbrook, N.C. Mudalige, M. Newman, R. Pereira (2015)</h4>
        <i class="text-faded">Bounds on polygons of higher rank numerical ranges</i>
        <i class="text-faded">Linear Algebra and its Applications: Volume 474, 1 June 2015, Pages 230-242</i>
      </div>
    </div>
  <!-- </div> -->
</div>
  
  
    
    <!-- New section -->
    <!-- New section -->
    <!-- New section -->
    <br>
    <div class="container">
        <div class="row">
            <div class="ex1">
                    <h4 class="ex1">J.A. Holbrook, N.C. Mudalige, M. Newman, R. Pereira (2015)</h4>
                    <h4 class="ex1"><i class="text-faded">Bounds on polygons of higher rank numerical ranges</i></h4>
                    <h4 class="ex1"><class="text-faded">Linear Algebra and its Applications: Volume 474, 1 June 2015, Pages 230-242</h3>
                    <br>
                    <h4>J.A. Holbrook, N.C. Mudalige, M. Newman, R. Pereira (2015)</h4>
                    <h4><i class="text-faded">Bounds on polygons of higher rank numerical ranges</i></h4>
                    <h4><class="text-faded">Linear Algebra and its Applications: Volume 474, 1 June 2015, Pages 230-242</h3>
            </div>
        </div>
    </div>
    
    <div class="col-lg-12 text-center">
    <br>
    <br>
    <!-- <a href="#" class="btn btn-primary btn-xl page-scroll">Back to top</a> -->
    <!-- <a href="#" class="btn btn-default btn-xl">Back to top</a> -->
    <a href="#page-top" class="btn btn-default btn-xl page-scroll">Back to top</a>
    </div>
    <br>
    <br>
</section>
