<section class="bg-dark" id="software">
    <h2 class="section-heading" align="center">Software</h2>
    <hr class="light">
    <br></br>
<!-- <section class="no-padding" id="projects"> -->
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="http://www.boldsystems.org/BOLD.R" class="portfolio-box">
                    <img src="img/pictures/trees.jpg" class="img-responsive" alt="">
                    <!-- <img src="img/portfolio/1.jpg" class="img-responsive" alt=""> -->
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                R Library
                            </div>
                            <div class="project-name">
                                BOLD.R
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/nishanmudalige/s.harmonic" class="portfolio-box">
                    <img src="img/pictures/harp.jpg" class="img-responsive" alt="">
                    <!-- <img src="img/portfolio/2.jpg" class="img-responsive" alt=""> -->
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                R Library
                            </div>
                            <div class="project-name">
                                s.harmonic
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/nishanmudalige/watson.kernel" class="portfolio-box">
                    <img src="img/pictures/circles.jpg" class="img-responsive" alt="">
                    <!-- <img src="img/portfolio/3.jpg" class="img-responsive" alt=""> -->
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                R Library
                            </div>
                            <div class="project-name">
                                watson.kernel
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!--
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            -->
        </div>
    </div>
</section>
